<div class="container">
  <ng-container *ngIf="whatIsIt == 'pie-chart'">
    <ngx-charts-pie-chart
      [results]="dataCountries$ | async"
      [scheme]="colorScheme"
      [gradient]="true"
      [labels]="true"
      [doughnut]="false"
      (select)="onSelect($event)"
    >
    </ngx-charts-pie-chart>
  </ng-container>
  <ng-container *ngIf="whatIsIt == 'line-chart'">
    <div class="ngxCharts-parent">
      <ngx-charts-line-chart
        [results]="dataDetailsCountry$ | async"
        [scheme]="colorScheme"
        showYAxisLabel="Medals"
        xAxis="xAxis"
        yAxis="yAxis"
        yAxisLabel="Medals"
      >
      </ngx-charts-line-chart>
    </div>
  </ng-container>
</div>
