<div class="container" *ngIf="country$ | async as country">
  <h2>Country {{ country.country }}</h2>
  <div class="stat-box">
    <p class="stat">
      Number of entries <span>{{ country.numberOfParticipation }}</span>
    </p>
    <p class="stat">
      Total number medals <span>{{ totalMedals$ | async }}</span>
    </p>
    <p class="stat">
      Total number of athletes <span>{{ totalAthletes$ | async }}</span>
    </p>
  </div>
  <div class="ngxCharts-parent">
    <ngx-charts-line-chart
      [results]="detailsCountry$ | async"
      [scheme]="colorScheme"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
    >
    </ngx-charts-line-chart>
    <a routerLink="">Go back</a>
  </div>
</div>
