<!-- Utilisation d'async pour souscrire à l'observable et extraire les données -->
<ng-container *ngIf="country$ | async as country">
  <div class="container-not-found" *ngIf="country.id === -1">
    <h2>Country not found</h2>
    <a routerLink="/">Go back</a>
  </div>
  <div class="container" *ngIf="country.id !== -1">
    <app-stats-country
      [countryName]="country.country"
      [totalMedals$]="totalMedals$"
      [totalAthletes$]="totalAthletes$"
      [totalEntries]="country.participations.length"
    ></app-stats-country>
    <div class="ngxCharts-parent">
      <app-ngx-charts
        [dataDetailsCountry$]="detailsCountry$"
        [whatIsIt]="'line-chart'"
      ></app-ngx-charts>
    </div>
    <a routerLink="">Go back</a>
  </div>
</ng-container>
