<div class="container">
  <h2 class="container-title">Medals per Country</h2>
  <div class="stat-box">
    <p class="stat">
      Number of JOs <span>{{ numberOfJOs$ | async }}</span>
    </p>
    <p class="stat">
      Number of countries <span>{{ numberOfCountries$ | async }}</span>
    </p>
  </div>
  <div class="ngxCharts-parent">
    <ngx-charts-pie-chart
      [results]="countryAndMedals$ | async"
      [scheme]="colorScheme"
      [gradient]="gradient"
      [labels]="showLabels"
      [doughnut]="isDoughnut"
      (select)="onSelect($event)"
    >
    </ngx-charts-pie-chart>
  </div>
</div>
