<p>Medals per Country</p>
<hr />
<p>Number of JOs </p>
<p>Number of countries {{numberOfCountries$ | async}}</p>

<!-- <p>{{ (olympics$ | async) }} data loaded</p> -->

<li *ngFor="let olympic of olympics$ | async">
    {{olympic.country}}

    <ul>
        <li *ngFor="let country of olympic.participations">
            <p> ville {{country.city}} </p>
            <p> année {{country.year}} </p>
            <p> nombre de médailles {{country.medalsCount}} </p>
            <p> nombre d'athlete {{country.athleteCount}} </p>
        </li>
    </ul>
</li>